.wrapper{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    background:wheat;
}

/* Main Menu */

.main-menu li{
    display: inline-block;
}

/* Main sections */
.section-pane{
    display: inline-block;
    vertical-align: top;
}
.left-pane{
    width:30%;
}
.right-pane{
    width:69%;
}

/* Feature Boxes */

.feature-boxes > div{
    display: inline-block;
    width:33%;
}